body{
    background-image: url(https://images.pexels.com/photos/697662/pexels-photo-697662.jpeg?cs=srgb&dl=pexels-ylanite-koppens-697662.jpg&fm=jpg) ;
    background-size:cover ;
    background-attachment: fixed ;
    margin:20px ;
    margin-bottom: 10px;
    width: auto;
    padding-top: 5px;

}

#header{
    background-image:linear-gradient(orange,white,green);
    
    margin-top:10px;
    margin-left:50px;
    margin-right:50px;
    padding: 20px;
    text-align: center;
    font-family:cursive;
    font-size: 40px;
    text-decoration: underline;
    width:auto;
    
}

#Content-grid{
    margin:20px;
    color: rgb(14, 2, 17);
    margin-left: 60px;
    margin-right: 60px;
    border:2px;
    font-style:italic;
    font-size:20px ;
    text-decoration: underline;
    border-width: 2px;
    border-radius: 5px;
    border-color: black ;
}
.col{
    border-style: inset;
    border-width: 2px;
    border-radius: 4px;
    border-color: blue;
    margin:5px;

}
#formore{
    margin-left:auto;
}

#footer {
    color:black;
    font-size: 40px;
    font-family: cursive;
    text-align: center;
    background-color: rgb(83, 213, 183);
    width: auto;
    margin-top: 45px;
    margin-bottom:10px;
    margin-left:50px;
    margin-right:50px;
    padding: 20px;
    text-decoration: underline;
}